.sun {
    background: blue;
}

.clouds {
    background: blue;
}

.rain {
    background: blue;
}

div {
    margin: 0 10px;
    width: 200px;
    height: 400px;
    color: cornsilk;
    text-align: center;
    padding-top: 70px;
    display: inline-block;

}

body {
    width: 50%;
    margin: auto;
}