.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    width: 30px; height: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 30px;
    color: #0f2541;
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
    
}

.pagination a.prev, .pagination a.next {
    width: 80px;
    border-radius: 15px;
   }

.pagination a.active {
    background: #ff6600;
    color: #fff;
    border-color: #ff6600;
   }