body {
    background: rgb(2, 2, 80);
    padding-top: 30px;
}

div {
    width: 900px;
    height: 550px;
    margin: auto;
    background: rgb(37, 4, 156);
    box-shadow: 7px 7px 7px 3px rgba(0,0,0,0.5);
    color: rgb(101, 101, 248); 
    text-align: center;
    padding-top: 30px;
}

input {
    background: rgb(2, 2, 80);
    color: white;
    
}

textarea {
    background: rgb(2, 2, 80);
    color: white;
}