article {
    /* background: grey; */

}

figcaption {
    
}

.photo {
    padding-right: 10px;
    border-right: 3px solid yellow;
    text-align: right;
}

section {
    display: inline-block;
    background: grey;
    vertical-align: top;
}

h1 {
    padding-bottom: 240px;
    padding-right: 15px; 
    margin: 10px 0 0 10px;
    font-weight: normal;
    display: inline-block;
}

section, h1 {
    text-align: left;
    padding-left: 0;
}

section figure {
    margin-right: 5px;
}