body {
    background: blueviolet;
}


p {
    width: 260px;
    height: 200px;
    background: cornsilk;
    margin: auto;
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);

}