figure {
    display: inline-block;
}

.cup {
    position: relative;
}

.cat {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background: rgb(245, 243, 243, 0.5);
    margin: 0;
}