body {
    background: #f7f6f2;
}

.summer {   
    display: inline-block;
    padding: 6px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.summer::after, .summer::before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    left: -40px;
    bottom: -40px;
    transform: rotate(45deg);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    outline: #c2b59d dashed 1px;
    outline-offset: -3px;
    background: #f7f6f2;
}

.summer::after {
    left: auto;
    right: -40px;
    top: -40px;
}

.summer img {
    display: block;
    padding: 4px;
    background: #dad6cf;
    border: 2px solid #c2b59d;
}